@import "common/variables";

@import "layouts/tinymce";


.aioseop_top, #aioseop-about, .aioseop_advert, .aioseop_meta_box_help,
.upgrade_menu_link, li#wp-admin-bar-aioseop-pro-upgrade, span.proupgrade,
div#aiosp_upgrade_wrapper, li#wp-admin-bar-wp-logo {
    display: none;
}

a[href="https://semperplugins.com/all-in-one-seo-pack-pro-version/?loc=aio_menu"] {
	display: none !important;
}